$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


.navbar {
    border-radius: 0px;
}


.sitesList-form{
  .bold{
    font-weight: 700;
  }
  label{
    margin-left: 35px;
  }
}

.nav-tabs {
  cursor: pointer;
}

.tab{
  margin-top: 15px;
}

.dropdown{
  display: inline-block;
}

.dropdown-toggle{
  min-width: 200px;
}

.embed-responsive-600h{
  min-height: 600px;
}





.has-error{
  outline: 1px solid red;
}

.ng-invalid-required{
   outline: 1px solid red;

}
.ng-invalid-url-remove{
   outline: 1px solid red;

}

.loading i{
  animation:spin 4s linear infinite;
}

// auto-prefixer is used  no need for prefixing
@keyframes spin {
   100% {
     transform:rotate(360deg);
   }
}

.ng-hide {
  opacity:0;
}


.inline-block{
  display: inline-block;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    


}
