<div>
  <form name="sitesForm" ng-submit="submitForm()" novalidate>
      <div class="" ng-repeat="site in sitesList">
        Name <input type="text" name="name" placeholder="name"  ng-model="site.name"
                    ng-class="{ 'has-error' : sitesForm.name.$invalid && !sitesForm.name.$pristine && sitesForm.url.$dirty  }">
        url <input type="url"  name="url"  ng-model="site.url" http-prefix >
        <br/>
        <span>{{site.name}}</span>
        <span>{{site.url}}</span>
         <br/>
         <br/>
      </div>
       <button type="submit" class="btn btn-primary" ng-disabled="sitesForm.$invalid">Submit</button>

  </form>
  
  <br>
  <br>
  <br>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      links
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="item in sitesList" ng-if="item.name">
        <!-- <a href="{{item.url}}" target="_blank"> {{item.name}}</a> -->
        <a href="{{item.url}}"> {{item.name}}</a>
      </li>
    </ul>
  </div>
  <br>
  <iframe src="" height="100%" width="100%" frameborder="0"></iframe>
</div>
