<section class="row notification">
    <div class="col-md-12">
        <p ng-if="notification"> <i class="glyphicon glyphicon-info-sign"></i>
           {{ notification }}
        </p>

    </div>
</section>

<hr>

<section class="row links">
  <div ng-repeat="action in quickActions"  class="dropdown col-md-4 text-center">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu{{$index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{action.actionsLabel}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="item in action.actions">
            <a href="{{item.url}}" target="_blank"> {{item.label}}</a>
          </li>
        </ul>
    </div>
  </div>
</section>
<hr>


<br>

<section class="tabs">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li ui-sref="app.tabb({id:1})"  ng-class="{ active: isActive('/tab-b/1') }">
            <a>
              <i class="glyphicon glyphicon-share "></i> Quick Reports
            </a>
        </li>
        <li ui-sref="app.taba({id:2})"ng-class="{ active: isActive('/tab-a/2') }">
          <a>
            <i class="glyphicon glyphicon-star"></i> Folders
          </a>
        </li>
        <li ui-sref="app.tabb({id:3})" ng-class="{ active: isActive('/tab-b/3') }">
          <a>
            <i class="glyphicon glyphicon-folder-open"></i> My Team Folders
          </a>
        </li>
        <li  ui-sref="app.taba({id:4})" ng-class="{ active: isActive('/tab-a/4') }">
          <a>
              <i class="glyphicon glyphicon-list-alt"></i> Public Folders
            </a>
          </li>

      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div ui-view></div>
    </div>

  </div>

</section>
